body {
  background: rgb(21, 21, 21);
}


h1 {
  color: rgb(9, 204, 97);
}

.App {
  background-color: rgb(43, 43, 43);
}

.vasakPaan {
  color: white;
  padding-bottom: 15px;
  
}

.paremPaan {
  color: white;
  padding-bottom: 15px;
  float: 
}